# ASSIGNMENT 2 DATA PROGRAMMING
# PROBLEM SET 2

# QUESTION 1 Python Module

In [ ]:
# Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

In [2]:
# ANSWER 
a =0           # global variable 'a' has been taken and value of 0 assigned to it
def b():       # a function b() is defined
  global a      # global a shows the global variable a which is assigned 0
  a=c(a)        
def c(a):       # a new function c is defined
  return a +2   # it returns the value of c(a)which is a+2=0+2=2 (as a is global variable which is 0 )
b()            # as a=c(a) so it means a becomes 2 
b()             # after repeating the same procedure it will turn out to be 4
b()             #the value is 6 after getting updated
print(a)          # printing the value of a which is 6 as it was called by b()function thrice

6

## QUESTION 2 RAISE AN EXCEPTION

In [ ]:
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [1]:
# answer for question 2 
def fileLength():     # fileLength() fuction has been defined
    
    try:              
        input_file = input('Enter the filename:  ')  # imput_file is where the input file will be retrieved from 
        file = open(input_file, 'r')                # this opens the input_file and read it
        contents = file.readline()                  # reading the file contents and storing it in contents variable
        file.close()                               # file will be closed 
        print(len(contents))                      # printing the length of contents of input_file
    except FileNotFoundError:
        print("File "+ input_file + " not found")  #printing the file name not found will be displayed
fileLength()                                  # this will open up the input _file and will add files into it and then print the contents
fileLength()

Enter the filename:  Bloodtxt.txt
103
Enter the filename:  Blootxt.txt
File Blootxt.txt not found

## QUESTION 3

In [ ]:
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [1]:
class Marsupial:   # creating a class Marsupial
    def __init__(self):     # creating a main _init_  method which initialise an empty list "pouch"
        self.pouch = []

    def put_in_pouch(self, item):     # put_in_pouch is defined to append an item to the pouch list
        self.pouch.append(item)

    def pouch_contents(self):      #defining the poch_contents which returns the contents of pouch list
        return self.pouch


class Kangaroo(Marsupial):             # creating the Kangaroo class
    def __init__(self, x, y):         # overriding the _init_ method which have x and y variables and superfunction to initialise the pouch list
        super().__init__()             # taking the coordinates in (x,y)
        self.x = x
        self.y = y

    def jump(self, dx, dy):      # method jump is used to jump coordinates and taking dx and dy
        self.x += dx             # adding the original values x,y  to jump coordinates
        self.y += dy

    def __str__(self):     # string method to use to print value of k 
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [42]:

m = Marsupial()    # marsupial class will be denoted as 'm'
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())       # the first output will be the contents added in the functionput_in_pouch like 'doll','firetruck'and 'kitten'

k = Kangaroo(0, 0)       # kangaroo class will take the values (0,0) origin
print(k)               # as k is at (0,0) it will print the I am a kangarroo located at (0,0)

k.put_in_pouch('doll')  # now these will be used to put in the contents 
k.put_in_pouch('firetruck')   
k.put_in_pouch('kitten')
print(k.pouch_contents())  # printing the contents of class

k.jump(1, 0)      # these three instances will keep to move the coordinates from (0,0) to (3,0)
k.jump(1, 0)
k.jump(1, 0)
print(k)   # printing the values in the k class

<__main__.Marsupial object at 0x000002A4884C2650>
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## QUESTION 4

In [ ]:
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = 
{
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
}
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [10]:
def collatz(x):   #defining the Collatz function ()
    print(x)         #printing the value of x
    if x==1:          # if the value is 1 then it will return 
        return
    elif x%2==0:       # if x is even , then it will again in the loop
        collatz(x//2)
    else:               # if x is odd, then it will go into collatz function
        collatz(3*x+1)

In [11]:
        
collatz(1)

1

In [12]:
collatz(10)

10
5
16
8
4
2
1

# QUESTION 5

In [ ]:
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [19]:
def binary(n):
    if n > 1:
        binary(n // 2)  # Recursive call with integer division
    print(n % 2, end='')

In [21]:
# ANSWER
#Testing the binary() method
print("Binary representation of 0:")
binary(0)

Binary representation of 0:
0

In [22]:
print("Binary representation of 1:")
binary(1)

Binary representation of 1:
1

In [23]:
print("Binary representation of 3:")
binary(3)

Binary representation of 3:
11

In [24]:
print("Binary representation of 9:")
binary(9)

Binary representation of 9:
1001

## QUESTION 8

In [ ]:
Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season

In [30]:
import sqlite3   #importing sqlite3 to perform these sql queries
conn = sqlite3.connect('Weather_Report.db')         # made a database to build a connection 
moncursor = conn.cursor()                        # moncursor can connect it to connection cursor
conn = moncursor.execute("CREATE TABLE DataBase (City TEXT,Country TEXT,Season TEXT,Temperature FLOAT,Rainfall FLOAT)")   # create a table named DataBase 
# Putting the values into the table
Tabularvalues = [('Mumbai','India','Winter',24.8,5.9),('Mumbai','India','Spring',28.4,16.2),('Mumbai','India','Summer',27.9,1549.4),('Mumbai','India','Fall',27.6,346.0),('London','United Kingdom','Winter',4.2,207.7),('London','United Kingdom','Spring',8.3,169.6),('London','United Kingdom','Summer',15.7,157.0),('London','United Kingdom','Fall',10.4,218.5),('Cairo','Egypt','Winter',13.6,16.5),('Cairo','Egypt','Spring',20.7,6.5),('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.2,4.5)]

In [32]:
for row in Tabularvalues:     #for loop is used to put rows in table Database
    moncursor.execute("INSERT INTO DataBase VALUES(?,?,?,?,?)",(row[0],row[1],row[2],row[3],row[4])) # executing the cursor to insert Database values

In [33]:
# fetching all the details for the Database
moncursor.execute("SELECT City,Country,Season,Temperature,Rainfall FROM DataBase")  # extracting the values from Database
Result_mine = moncursor.fetchall()    # Fetchall()is used to add values into Result_mine

print("Details fetched from the able are :  ")
for x in Result_mine:         # for loop is used to put values into Result
    print(x)

Details fetched from the able are :
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [8]:
# Question a) All the temperature data.

In [34]:
moncursor.execute("SELECT Temperature FROM DataBase")      # extracting temperature from Database
Temp_allcities=moncursor.fetchall()             # fetching temperature from Databse is added to Temp_allcities

print("All the temperature data are as follows: ")
for v in Temp_allcities:           # for is used to print values from Temp_allcities
    print(v)

All the temperature data are as follows:
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [10]:
# Question b) All the cities, but without repetition.

In [35]:
moncursor.execute("SELECT DISTINCT City FROM DataBase")       # extracting distinct city from Database
all_cities=moncursor.fetchall()                    #fetching all the distinct cities and adding in all_cities
print("All the Cities, but without repetition: ")
for v in all_cities:                                  #for loop is used to print the distinct Cities 
    print(v)

All the Cities, but without repetition:
('Mumbai',)
('London',)
('Cairo',)

In [12]:
# Question c) All the records for India.

In [36]:
moncursor.execute("SELECT * FROM DataBase WHERE Country ='India' ")   # Fetching all the details from databse for Country INDiA
all_India=moncursor.fetchall()          #adding all the details into all_India
print("All the records from INDIA:  ")
for v in all_India:
    print(v)

All the records from INDIA:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [14]:
# Question d) All the Fall records.

In [37]:
moncursor.execute("SELECT * FROM DataBase WHERE Season ='Fall' ")  #fetching all the details for Fall season from Database
fall_details=moncursor.fetchall()
print("All the details for Fall Season: ")
for v in fall_details:          #for loop is used to print fall details 
    print(v)

All the details for Fall Season:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [16]:
# Question e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [38]:
moncursor.execute("SELECT City,Country,Season FROM DataBase WHERE Rainfall<400 and Rainfall>200 ") #fetching City,Countryand season from Database where Rainfall is between 200and 400 mm
rainfall_details=moncursor.fetchall()        # will add rainfall details into rainfall_details
print("The City,Country,Season for which the average rainfall is between 200 and 400 millimetres:   ")
for v in rainfall_details:
    print(v)

The City,Country,Season for which the average rainfall is between 200 and 400 millimetres:
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [18]:
# Question f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [39]:
# selecting City,Country from Database for Fall season and temperature >20
moncursor.execute("SELECT City, Country FROM DataBase WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ;")
fall_tempdetails=moncursor.fetchall()  # will save in fall_tempdetails
print("The City and country with average fall temperature is above 20 degrees  in increasing temp.:  ")
for v in fall_tempdetails:   # for loop is used to print values for this 
    print(v)

The City and country with average fall temperature is above 20 degrees  in increasing temp.:
('Cairo', 'Egypt')
('Mumbai', 'India')

In [20]:
# Question g) The total annual rainfall for Cairo.

In [40]:
moncursor.execute("SELECT  SUM(Rainfall) AS CAIRORainfall FROM DataBase WHERE City='Cairo' ") # extracting total annual rainfall for Cairo
rainfall_CAIRO=moncursor.fetchall()       # will add into rainfall_CAIRO
print("The total rainfall annual rainfall for Cairo : ")
for v in rainfall_CAIRO:   # printing the result for annual rainfall for Cairo
    print(v)

The total rainfall annual rainfall for Cairo :
(27.6,)

In [ ]:
# Question h) The total rainfall for each season

In [41]:
moncursor.execute("SELECT  SUM(Rainfall) AS TotalRainfall, Season  FROM DataBase GROUP BY Season;")  # extracting Total rainfall season from Season
rainfall_total=moncursor.fetchall()

print("The total rainfall for each season : ")
for v in rainfall_total:  #printing the values 
    print(v)

The total rainfall for each season :
(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

## QUESTION 9

In [ ]:
Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.

In [15]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
# answer for 9.a.
res_a = [word.upper() for word in words]  # res_a represents the conversion of each word in upper case used in the words list
print(res_a)       # printing the result for a part

# answer for 9.b.
res_b =[word.lower() for word in words]   #res_b represents the conversion of each word in lower case used in the words list
print(res_b)       #printing the result for b part

# answer for 9.c.
res_c = []    # taken an empty list to put length of word
for word in words:         # loop has been used to put values from words list
    #print(len(word))         # for verifying the values of lengths
    res_c.append(len(word))    # this function will append lengths of word in words list in the res_c empty list
print(res_c)             # res_c will be printed

# answer for 9.d.
res_d = [[word.upper(), word.lower(), len(word)] for word in words]  # this will represent the upper case ,lower case and lengths of word in words list
print(res_d)          # res_d will be printed

# answer for 9.e.
res_e = []   # taking an empty list to put list demanded
for word in words:     # for loop has been used to take word from words list
    if len(word) >= 4:  # if lengths>=4 then it will start appending values in the empty list taken in the firat step 
        res_e.append(word)
print(res_e)   # printing the res_e

# or the second method of directly putting the words with lengths equal or more than 4 

#res_e = [word for word in words if len(word) >= 4]
#print(res_e)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']
['quick', 'brown', 'jumps', 'over', 'lazy']